<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         body{background-color: rgb(112, 166, 243); height:300px;width:300px;}
        input{background-color: rgb(245, 181, 77);
            border-radius: 5px;}
    </style>
</head>
<body>
    <input type="email" placeholder="email">
    <br>
    <br>
    <input type="password" placeholder="password">
    <br>
    <br>
    <button>signup</button>
</body>
</html>