* {
    margin: 0;
}

.mainpage {
    height: 600px;
    width: 43vw;
    background: red;
    gap: 10px;
    border: 5px solid black;
    margin: 25px;
    display: flex;
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    justify-content: start;
    /* justify-content: space-between; */

    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: end; */
    /* align-items: start; */

}

.mainpage .page {
    height: 150px;
    width: 150px;
    /* height: fit-content; */
    background-color: rgb(180, 224, 211);
    justify-content: start;
    align-items: start;
    display: flex;
    display: inline-block;
    overflow-y: auto;
}

/* .page {
    height: 150px;
    width: 150px;
    background-color: black;
} */