<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./../static/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <h1>Home paged  </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis sit voluptas illum nemo esse necessitatibus provident tempora molestiae dicta facere molestias, beatae quisquam, atque expedita quaerat et ab voluptates debitis.</p>
<img src="{% static 'images/img1.png' %}" alt="">
</body>
</html>