*{
    margin: 10px;
}
.box{

    height: 700px;
    width: 1200px;
    background-color: rgb(116, 241, 241);
    display: flex;
}
.box1{

    height: 70px;
    width: 1000px;
    background-color: rgba(0, 0, 255, 0.866);
    align-items: center;
    justify-content: center;
}