/* body{
    background-color: rgb(234, 77, 243);    
}

.sub{
    height: 20px;
    width: 200px;
    background-color: blanchedalmond;
    display: flex;
    gap: 30px;
    align-items: center;

}
 */
